# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit Local Logs
.streamlit/

# Local Vector Databases & Uploads
db/
uploaded.pdf
.chroma/

# Environment Secrets
.env